<div class="row">
  <div class="col-sm-2">
<app-menu></app-menu>
</div>
<div class="col-sm-10" >
<app-header></app-header>
<div class="header bg-primaryy pb-6 " style="background-color: #FFF !important;" ></div>
<div class="container">
 <div class="p-3 ">
  <div class="container-fluid mt--6">
    <div class="row justify-content-center">
      <div class=" col ">
        <div class="card">
          <div class="card-header bg-transparent">
            <h3 class="mb-0">Gestion Bien</h3>
          </div>
              <!-- Card body -->
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-6 text-left">
                            <div class=" input-group " >
                              <label class="card-title mr-4 mt-2"><b>Filtrer</b></label>
                              <input type="text" class="form-control mb-2"   placeholder="Chercher" id='chercher'  (change)="fonction($event)">
                                 <div class="input-group-append mb-2" >
                                  <button class="btn btn-primary" style="background-color: #5e72e4 !important; " >
                                    <i class="fas fa-search" ></i></button>
                                  </div>
                             </div>
                         </div>
                          
                      <div class=" col-md-6 text-right mt-3">
                        <button *ngIf="table" type="button" class="btn btn-secondary " style="background-color: #5e72e4;" (click)="exportexcel()">Exporter</button>
                            <button type="button" class="btn btn-secondary " style="background-color: #5e72e4;color: white" (click)="listActif()">Actifs </button>
                            <button type="button" class="btn btn-secondary " style="background-color: #5e72e4;color: white" (click)="listArchiv()">Archives </button>
                            <button type="button" class="btn btn-secondary" routerLink="/create-bien" style="background-color: #5e72e4; color: white">Nouveau </button>
                          </div>
                        </div>
                     
                      </div>
                
                  <div class="table-responsive" *ngIf="table">
                    <table class="table " id="excel-table">
                    <thead class="thead-light">
                      <tr >
                        <th scope="col">Propriétaire</th>
                        <th scope="col">Adresse</th>
                        <th scope="col">Surface</th>
                        <th scope="col">Statut</th>
                        <th scope="col">Loyer mensuel</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody >
                      <tr *ngFor="let bien of biens">
                        <td>{{bien.user.nom}} {{bien.user.prenom}}</td>
                        <td>{{bien.adresse}}</td>
                        <td>{{bien.surface}}</td>
                        <!--td>{{bien.statut}}</td-->
                        <td *ngIf="bien.statut == 'libre'"><span class="badge badge-success p-2 text-white" style="width: 60%;">{{bien.statut}}</span></td>
                        <td *ngIf="bien.statut == 'occupé'"><span class="badge badge-warning p-2 text-white" style="width: 60%;">{{bien.statut}}</span></td>
                        <td>{{bien.loyer_mensuel}}</td>
                        <td><a style="background-color: #5e72e4 !important;"  class="btn btn-primary" (click)="detailbien(bien.id)" >Détails</a>
                    </td>
                      </tr>
                    </tbody>
                    </table>
      </div>
</div>
</div>
</div>
</div>
</div>
<!--app-footer></app-footer-->
</div>
</div>
