<div class="row">
  <div class="col-2">
  <app-menu></app-menu>
  </div>
  <div class="col-10" >
    <div class="main-content" id="panel">
  <app-header></app-header>
  <div class="header bg-primaryy pb-6 " style="background-color: #FFF !important;" ></div>
  <div class="container">
    <div class="p-3 ">
  <div class="container-fluid mt--6" >
    <div class="row justify-content-center">
      <div class=" col ">
        <div class="card">
          <div class="card-header">
            <h3>Fiche détaillée</h3>
          </div>
          <div class="card-body" id="pdf">
            <div class="container">
              <div class="row">
                <div class="col-md-6 col-sm-12 p-4">
                  <!--div class="row ">
                      <img src="../assets/images/team-3.jpg" class="image"  style="width: 100px;height: 100px;border-radius: 50%;">
                  </div-->
                  
                    <h4>Identifiant : {{ location.identifiant }} </h4>
                  <hr>
                    <h4>Date Entrée  : {{ location.date_entree }} </h4>
                  <hr>
                    <h4>Date Sortie : {{ location.date_sortie }}</h4>
                </div>
                <div class="col-md-6 col-sm-12 pt-3 pb-3">
                  <h4>Montant :  {{ location.montant }}</h4>
                  <hr>
                  <h4>Durée :  {{ location.duree }}</h4>
                  <hr>
                  <h4>Propriétaire :  {{ location.user_id }}</h4>
                  <hr>
                  <h4>Bien : {{ location.bien_id }} </h4>

                </div>
              </div>
            </div>
          </div>
          <div class="card-footer text-muted">
  
              <div class="  text-right">
                <button type="button" class="btn btn-secondary " routerLink="/location" style="background-color: #5e72e4;">Retour</button>
                <button type="button" class="btn btn-secondary" style="background-color: #5e72e4;" (click)="createPdf()">Expoter </button>
                <button type="button" class="btn btn-secondary" style="background-color: #5e72e4;" data-toggle="modal" data-target="#myModal">Archiver</button>
                <button type="button" class="btn btn-secondary" style="background-color: #5e72e4;" (click)="editer(location.id)">Modifier</button>
              </div>
          </div>
        </div>
</div>
</div>
</div>
</div>
</div>
</div>

<app-footer></app-footer>
</div>
</div>


<div class="modal" id="myModal">
  <div class="modal-dialog">
  <div class="modal-content">
    <div class=" text-center">
      <div  class="container-fluid" >
        <br>
        <i class="fa fa-exclamation-triangle text-warning" style="font-size:100px !important;"></i>
        <button hidden id="CloseButtonArc" type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
      </div><br>
    </div>
    <h5 class=" text-center" >Etes vous sur de vouloir Archiver</h5>
    <div class=" text-center">
      <button type="submit" class="btn btn-primary"  (click)="archiver(location.id)" style=" margin: 20px 20px;"><a style="color: black" >Confirmer</a></button>
      <button type="button" class="btn btn-secondary" (click)="close()" style=" margin: 20px 20px;"><a style="color: black" >Annuler</a></button>
    </div>
  </div>
</div>
</div>





