<div class="row">
  <div class="col-2">
  <app-menu></app-menu>
  </div>
  <div class="col-10" >
    <div class="main-content" id="panel">
  <app-header></app-header>
  <div class="header bg-primaryy pb-6 " style="background-color: #FFF !important;" ></div>
  <div class="container">
    <div class="p-3 ">
  <div class="container-fluid mt--6" >
    <div class="row justify-content-center">
      <div class=" col ">
        <div class="card" id="pdf">
          <div class="card-header">
            <div class="row">
            <div class="col-md-4">
              <h3>Fiche détaillée</h3>
            </div>
            <div class="col-md-2 " style="margin-left: 50%;" >
              <button class="btn btn-primary" style="background-color: #5e72e4 !important; " (click)="detailsociete(user.id)">Biens immobiliers</button>
            </div>
          </div>
          </div>
          <div class="card-body" >
            <div class="container">
              <div class="row">
                <div class="col-md-6 col-sm-12 p-4">
                  <div class="row ">
                      <img src="{{ user.image }}" class="image"  style="width: 220px;height: 100px;">
                  </div>
                  <hr>
                    <h4>Nom de societe : {{ user.nom_societe }}</h4>
                  <hr>
                    <h4>Nom de responsable : {{ user.nom }}</h4>
                  <hr>
                    <h4>Prenom de responsable : {{ user.prenom }}</h4>
                  <hr>
                    <h4>Regitre de commerce : {{ user.RC }}</h4>
                    <hr>
                    <h4>CIN : {{ user.CIN }}</h4>
                    <hr>
                    <h4>Adresse : {{ user.adresse }}</h4>
                </div>
                <div class="col-md-6 col-sm-12 pt-3 pb-3">
                 
                  <h4>Role : {{ user.role }}</h4>
                  <hr>
                  <h4>Email : {{ user.email }}</h4>
                  <hr>
                  <h4>Telephone : {{ user.telephone }}</h4>
                  <hr>
                  <h4>Patente : {{ user.patente }}</h4>
                  <hr>
                  <h4>Statut : {{ user.statut_societe }}</h4>
                  <hr>
                  <h4>ICE : {{ user.ICE }}</h4>
                  <hr>
                  <h4>Activité : {{ user.activite }}</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer text-muted">
             
              <div class="  text-right mb-2">
                <button type="button" class="btn btn-secondary" routerLink="/societe" style="background-color: #5e72e4;">Retour </button>
                <button type="button" class="btn btn-secondary" (click)="createPdf()" style="background-color: #5e72e4;">Exporter </button>
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#myModal" style="background-color: #5e72e4;">Archiver</button>
                <button type="button" class="btn btn-secondary" (click)="editer(user.id)" style="background-color: #5e72e4;">Editer</button>
              </div>
          </div>
        </div>
</div>
</div>
</div>
</div>
</div>
</div>
<app-footer></app-footer>
</div>
</div>


<div class="modal" id="myModal">
  <div class="modal-dialog">
  <div class="modal-content">
    <div class=" text-center">
      <div  class="container-fluid" >
        <br>
        <i class="fa fa-exclamation-triangle text-warning" style="font-size:100px !important;"></i>
        <button hidden id="CloseButArS" type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
      </div><br>
    </div>
    <h5 class=" text-center" >Etes vous sur de vouloir Archiver</h5>
    <div class=" text-center">
      <button type="submit" class="btn btn-primary"  (click)="archiver(user.id)" style=" margin: 20px 20px;"><a style="color: black" >Confirmer</a></button>
      <button type="button" class="btn btn-secondary" (click)="close()" style=" margin: 20px 20px;"><a style="color: black" >Annuler</a></button>
    </div>
  </div>
</div>
</div>






