<div class="row">
  <div class="col-sm-2">
    <app-menu></app-menu>
  </div>

  <div class="col-sm-10" >
    <app-header></app-header>
    <div class="header bg-primary pb-6" style="background-color: #fff !important;">
        </div>
<div class="container">
<div class="p-3 ">
      <div class="container-fluid mt--6">
        <div class="row justify-content-center">
        <div class=" col ">
      <div class="card" >
        <div class="card-header bg-transparent">
          <h5 class="mb-0">Ajouter une nouvelle charge</h5>
        </div>

          <!--button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button-->
  <form method="POST" #f="ngForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">

    <div class="card-body">
    <div class="row row1">
        <div class="col">
        <label for="date_paiement" class="form-label"><b>Date Paiement</b></label>
        <input type="date" class="form-control" aria-label="date_paiement" id="date_paiement" name="date_paiement" [(ngModel)]="charge.date_paiement"
        required ngModel #entree="ngModel">
        <div *ngIf="entree.touched && entree.invalid " style="color: red;">
          <div *ngIf="entree.errors?.required">Champ obligatoire !</div>
        </div>
      </div>
      <div class="col">
        <label for="nbt_relance" class="form-label"><b>Nombre relance</b></label>
        <input type="text" class="form-control" placeholder="Nombre relance" aria-label="nbt_relance" id="nbt_relance" name="nbt_relance" [(ngModel)]="charge.nbt_relance">
      </div>
    </div>
    <br>
    <div class="row row1">
      <div class="col">
        <label for="description" class="form-label"><b>Description </b></label>
        <input type="text" class="form-control" placeholder="Description du charge" aria-label="description" id="description" name="description" [(ngModel)]="charge.description"
        required  pattern="[a-z A-Z]+" ngModel #Description="ngModel">
        <div *ngIf="Description.touched && Description.invalid " style="color: red;">
          <div *ngIf="Description.errors?.required">Champ obligatoire !</div>
          <div *ngIf="Description.errors?.pattern">Juste les caractéres sont valides</div>
        </div>
      </div>
      <div class="col">
      <label for="montant" class="form-label"><b>Montant</b></label>
      <input type="text" class="form-control" placeholder="Montant du charge" aria-label="montant" id="montant" name="montant" [(ngModel)]="charge.montant"
      required minlength="3" maxlength="10" onkeypress="return event.charCode >= 48 && event.charCode <= 57" ngModel #Mantant="ngModel">
        <div *ngIf="Mantant.touched && Mantant.invalid " style="color: red;">
          <div *ngIf="Mantant.errors?.required">Champ obligatoire !</div>
          <div *ngIf="Mantant.errors?.minlength">Minimum 3 caractéres !</div>
        </div>
    </div>

  </div>
  <br>
   <div class="pull-right">
    <div class="buttons">
    <button type="button" class="btn btn-primary" style="background-color: #5e72e4 !important;">Annuler</button>
    <button type="submit" (click)="alert()" [disabled]="f.invalid" class="btn btn-success" style="background-color: #5e72e4 !important;">Enregistrer</button>
    </div>
  </div>
  </div>

  </form>
  </div>
  </div>
  </div>
  <app-footer></app-footer>
  </div>
  </div>

  </div>
  </div>
  </div>


