<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand" href="index.html" >GESIMMO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item "><a href="index.html" class="nav-link" >Accueil</a></li>
        <li class="nav-item"><a href="about.html" class="nav-link" >A propos</a></li>
        <li class="nav-item"><a routerLink="/service-home" class="nav-link">Services</a></li>
        <!--li class="nav-item"><a href="properties.html" class="nav-link">Properties</a></li>
        <li class="nav-item"><a href="blog.html" class="nav-link">Blog</a></li-->
        <li class="nav-item"><a routerLink="/contacts" class="nav-link" >Contact</a></li>
        <!--li class="nav-item"><a data-toggle="modal" data-target="#login" class="nav-link"
            >Gestion</a></li-->
      </ul>
    </div>
  </div>
</nav>

<section class="hero-wrap hero-wrap-2" style="background-image: url('assets/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
      <div class="col-md-9 pb-0 text-center">
        <!--p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="fa fa-chevron-right"></i></a></span> <span class="mr-2"><a href="properties.html">Properties <i class="fa fa-chevron-right"></i></a></span> <span>Properties Single <i class="fa fa-chevron-right"></i></span></p-->
        <h1 class="mb-3 bread">Détails de la propriété</h1>
      </div>
    </div>
  </div>
</section>

<div class="container pt-6">
  <div class="row">
    <div class="col-md-8 col-sm-12">
      <div class="card">
        <div class="card-header">
          <!--h5 class="card-title ">The Blue Sky Home</h5-->
          <h6>{{bien.adresse}}</h6>
        </div>
        <div class="card-body">
          <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">

              <div class="carousel-item active">
                <img src="{{bien.images[0].image}}" class="d-block w-100" alt="image" width="500px" height="400px">
              </div>
              <!--div *ngIf="bien.images.lenght>0"-->
              <div class="carousel-item " *ngFor="let img of bien.images">
                <img src="{{img.image}}" class="d-block w-100" alt="image1" width="500px" height="400px">
                <!--/div-->
              </div>
            </div>



            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>


        </div>
      </div>
      <hr>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="card">
        <div class="card-header text-center">
          <h5> Contact</h5>
        </div>
        <div class="card-body">
        <label>N° de téléphone : </label> <strong>&nbsp; 0612345678</strong>
        </div>
      </div>

    </div>
  </div>

  <div class="row pb-8">
    <div class="col-md-4 col-sm-8">
      <h5>DESCRIPTION</h5>
      <table>
        <tr>
          <td><label>Type</label> </td>
          <td class="pl-6"><label class="font-weight-bold">{{bien.type}}</label></td>
        </tr>
        <tr>
          <td><label>Loyer mensuel</label> </td>
          <td class="pl-6"><label class="font-weight-bold">{{bien.loyer_mensuel}}</label></td>
        </tr>
        <tr>
          <td><label>Frais de syndic</label> </td>
          <td class="pl-6"><label class="font-weight-bold">{{bien.syndic}}</label></td>
        </tr>
        <tr>
          <td><label>Surface</label> </td>
          <td class="pl-6"><label class="font-weight-bold">{{bien.surface}}</label></td>
        </tr>
        <tr>
          <td><label>Nombre de pieces</label> </td>
          <td class="pl-6"><label class="font-weight-bold">{{bien.nbr_piece}}</label></td>
        </tr>
        <tr>
          <td><label>N° étage</label> </td>
          <td class="pl-6"><label class="font-weight-bold">{{bien.etage}}</label></td>
        </tr>
      </table>
    </div>
    <div class="col-md-4 col-sm-8" >
      <h5>EQUIPEMENTS</h5>
      <label>{{bien.equipement}}</label>

    </div>
    <div class="col">

    </div>

  </div>
</div>

<footer class="ftco-footer ftco-section">
  <div class="container">

    <div class="row">
      <div class="col-md-12 text-center">

        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
      </div>
    </div>
  </div>
</footer>

