
<div class="row">
  <div class="col-sm-2">
  <app-menu></app-menu>
  </div>
  <div class="col-sm-10" >
  <app-header></app-header>
<div class="header bg-primary pb-2" style="background-color: #fff !important;" ></div>
  <!-- Page content -->
  <div class="container">

      <div class="card ml-3">
        <div class="card-header bg-transparent">
          <h3 class="mb-0">Biens immobiliers de <span class="badge badge-primary p-2 text-white" >{{user.nom}} {{user.prenom}}</span></h3>
        </div>
        <div class="card-body">
        <div class="table-responsive" *ngIf="table">
          <table class="table " >
          <thead class="thead-light">
            <tr >
              <th scope="col">Adresse</th>
              <th scope="col">Surface</th>
              <th scope="col">Statut</th>
              <th scope="col">Loyer mensuel</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody >
            <tr *ngFor="let bien of biens">
              <td>{{bien.adresse}}</td>
              <td>{{bien.surface}}</td>
              <td *ngIf="bien.statut == 'libre'"><span class="badge badge-success p-2 text-white" style="width: 50%;">{{bien.statut}}</span></td>
                        <td *ngIf="bien.statut == 'occupé'"><span class="badge badge-warning p-2 text-white" style="width: 50%;">{{bien.statut}}</span></td>
              <td>{{bien.loyer_mensuel}}</td>
              <td><a style="background-color: #5e72e4 !important;"  class="btn btn-primary" (click)="detailbien(bien.id)" >Détails</a>
            </tr>
          </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer text-muted">
              
        <div class="  text-left">
          <button type="button" class="btn btn-secondary" routerLink="/societe" style="background-color: #5e72e4;">Retour </button>
         
        </div>
    </div>
      </div>

<!--app-footer></app-footer-->
</div>
</div>
