
<div class="row">
  <div class="col-sm-2">
  <app-menu></app-menu>
  </div>
  <div class="col-sm-10" >
  <app-header></app-header>
<div class="header bg-primary pb-2" style="background-color: #fff !important;" ></div>
  <!-- Page content -->
  <div class="container">
      <div class="table-responsive" *ngIf="table">
        <table class="table " >
        <thead class="thead-light">
          <tr >
            <th scope="col">Adresse</th>
            <th scope="col">Surface</th>
            <th scope="col">Statut</th>
            <th scope="col">Loyer mensuel</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let bien of biens">
            <td>{{bien.adresse}}</td>
            <td>{{bien.surface}}</td>
            <td>{{bien.statut}}</td>
            <td>{{bien.loyer_mensuel}}</td>
            <td><a style="background-color: #5e72e4 !important;"  class="btn btn-primary" (click)="detailbien(bien.id)" >Détails</a>
          </tr>
        </tbody>
        </table>
      </div>

<app-footer></app-footer>
</div>
</div>
