
<div class="row">
  <div class="col-md-2 col-sm-0">
  <app-menu></app-menu>
  </div>
  <div class="col-sm-12 col-md-10">
  <app-header></app-header>
  <div class="header bg-primaryy pb-6 " style="background-color: rgb(231, 228, 228) !important;" ><!--style="margin-left: 18%;"-->
    <div class="container-fluid ">
      <div class="header-body  " >
        <div class="row pt-4">
          <div class="col-xl-3 col-md-6 ">
            <div class="card text-black  mb-3 bg-primary" style="background-color: rgb(255, 255, 255) !important;">
              <div class="card-body ">
                <div class="row">
                  <div class="col" >
                    <h6 class="card-title  text-muted mb-0">Propriétaires </h6><!--text-uppercase-->
                    <span class="h4 font-weight-bold mb-0">{{ y }}</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape rounded-circle text-white text-xl shadow" style="background-color: rgb(169, 130, 247) !important;">
                      <i class="fas fa-user"></i>
                    </div>
                  </div>
                </div>
               
                </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div class="card text-black  mb-3 " style="background-color: rgb(255, 255, 255) !important;">
              <div class="card-body">
                 <div class="row">
                <div class="col">
                  <h6 class="card-title  text-muted mb-0">Locataires</h6>
                  <span class="h4 font-weight-bold mb-0">{{ x }}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape rounded-circle text-white text-xl shadow" style="background-color: rgb(80, 167, 238) !important;">
                    <i class="fas fa-house-user"></i>
                  </div>
                </div>
                </div>
               
                </div>
            </div>
          </div>

          <div class="col-xl-3 col-md-6">
            <div class="card text-black mb-3 " style="background-color: rgb(255, 255, 255) !important;">
              <div class="card-body">
                <div class="row">
               <div class="col">
                 <h6 class="card-title  text-muted mb-0">Biens</h6>
                 <span class="h4 font-weight-bold mb-0">{{ z }}</span>
               </div>
               <div class="col-auto">
                 <div class="icon icon-shape rounded-circle text-white text-xl shadow" style="background-color: rgb(230, 91, 91) !important;">
                  <i class="fas fa-home"></i>
                 </div>
               </div>
               </div>
              
               </div>
            </div>
          </div>

          <div class="col-xl-3 col-md-6">
            <div class="card text-black mb-3 " style="background-color: rgb(255, 255, 255) !important;">
              <div class="card-body">
                <div class="row">
               <div class="col">
                 <h6 class="card-title  text-muted mb-0">Locations</h6>
                 <span class="h4 font-weight-bold mb-0">{{ a }}</span>
               </div>
               <div class="col-auto">
                 <div class="icon icon-shape rounded-circle text-white text-xl shadow" style="background-color: rgb(102, 231, 145) !important;">
                  <i class="ni ni-key-25"></i>
                 </div>
               </div>
               </div>
              
               </div>
             
            </div>
          </div>



        </div>
        <div class="row">
        <div class="card p-3 col-md-6" id="divChart">
          <canvas id="myChart"></canvas>  
        </div>
      
          
              <div class="col-md-6" >
                <div class="card">
                  <table class="table">
                    <thead class="thead-secondary text-dark text-center">
                      <tr>
                       <th colspan="2">Liste des propriétaires</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let u of users">
                        <td>
                         {{u.nom}} - {{u.prenom}} 
                        </td>
                        <td>
                          <button type="button" class="btn btn-secondary" style="background-color: #5e72e4;" (click)="getBilan(u.id)">Bilan</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
        
          </div>
        </div>
        <table class="table " *ngIf="message == true" id="excel-table">
          <thead class="thead-secondary text-dark text-center">
            <tr >
              <th scope="col">Mois</th>
              
              <th scope="col">Locataire</th>
              <th scope="col"> Date de paiement  </th>
              <th scope="col">Chiffre d'affaire</th>
              <th scope="col">Chiffre d'affaire Prévisionnel </th>
              <th scope="col">Reliquat</th>
            </tr>
          </thead>
          <!--************************-->
          <tbody >
            <tr class="shadow p-3 mb-5 bg-white rounded" *ngFor="let b of bilan">
              <td class="text-center ">{{b.mois_paiement}}</td>
              <td class="text-center">{{b.nom}} {{b.prenom}}</td>
              <td class="text-center">{{b.date_paiement}}</td>
              <td class="text-center text-danger" style="font-weight: bolder;">{{b.montant_recu}}</td>
              <td class="text-center">{{b.montant_total}} </td>
              <td class="text-center">  {{b.montant_total*1 - b.montant_recu*1}}</td>
            </tr>
          </tbody>

          </table>
      </div>
      </div>
    </div>
  </div>


    <app-footer></app-footer>

