
<div class="row">
  <div class="col-md-2 col-sm-0">
  <app-menu></app-menu>
  </div>
  <div class="col-sm-12 col-md-10">
  <app-header></app-header>
  <div class="header bg-primaryy pb-6 " style="background-color: rgb(231, 228, 228) !important;" ><!--style="margin-left: 18%;"-->
    <div class="container-fluid ">
      <div class="header-body  " >
        <div class="row pt-4">
          <div class="col-xl-3 col-md-6 ">
            <div class="card text-black  mb-3 bg-primary" style="background-color: rgb(255, 255, 255) !important;">
              <div class="card-body ">
                <div class="row">
                  <div class="col" >
                    <h6 class="card-title  text-muted mb-0">Propriétaires </h6><!--text-uppercase-->
                    <span class="h4 font-weight-bold mb-0">{{ y }}</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape rounded-circle text-white text-xl shadow" style="background-color: rgb(169, 130, 247) !important;">
                      <i class="fas fa-user"></i>
                    </div>
                  </div>
                </div>
               
                </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div class="card text-black  mb-3 " style="background-color: rgb(255, 255, 255) !important;">
              <div class="card-body">
                 <div class="row">
                <div class="col">
                  <h6 class="card-title  text-muted mb-0">Locataires</h6>
                  <span class="h4 font-weight-bold mb-0">{{ x }}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape rounded-circle text-white text-xl shadow" style="background-color: rgb(80, 167, 238) !important;">
                    <i class="fas fa-house-user"></i>
                  </div>
                </div>
                </div>
               
                </div>
            </div>
          </div>

          <div class="col-xl-3 col-md-6">
            <div class="card text-black mb-3 " style="background-color: rgb(255, 255, 255) !important;">
              <div class="card-body">
                <div class="row">
               <div class="col">
                 <h6 class="card-title  text-muted mb-0">Biens</h6>
                 <span class="h4 font-weight-bold mb-0">{{ z }}</span>
               </div>
               <div class="col-auto">
                 <div class="icon icon-shape rounded-circle text-white text-xl shadow" style="background-color: rgb(230, 91, 91) !important;">
                  <i class="fas fa-home"></i>
                 </div>
               </div>
               </div>
              
               </div>
            </div>
          </div>

          <div class="col-xl-3 col-md-6">
            <div class="card text-black mb-3 " style="background-color: rgb(255, 255, 255) !important;">
              <div class="card-body">
                <div class="row">
               <div class="col">
                 <h6 class="card-title  text-muted mb-0">Locations</h6>
                 <span class="h4 font-weight-bold mb-0">{{ a }}</span>
               </div>
               <div class="col-auto">
                 <div class="icon icon-shape rounded-circle text-white text-xl shadow" style="background-color: rgb(102, 231, 145) !important;">
                  <i class="ni ni-key-25"></i>
                 </div>
               </div>
               </div>
              
               </div>
             
            </div>
          </div>



        </div>
        <div class="card p-3" id="divChart">
          <canvas id="myChart"></canvas>  
        </div>
      </div>
    </div>
  </div>


    <app-footer></app-footer>

