<div class="row">
  <div class="col-sm-2">
    <app-menu></app-menu>
  </div>
  <div class="col-sm-10" >
    <app-header></app-header>
    <div class="header bg-primary pb-6" style="background-color: #fff !important;"></div>
  <div class="container ">
    <div class="p-3 ">
      <div class="container-fluid mt--6">
        <div class="row ">
        <div class=" col ">
      <div class="card  " style="width: 100%; margin-left: 0px;" >
        <div class="card-header text-center">     <strong>Enregistrer un paiement </strong> </div>
       
<form method="POST"  (ngSubmit)="onSubmitform()"  enctype="multipart/form-data" ngNativeValidate>

  <div class="card-body">
    <div class="row">
           <table class="table table-clear" style="margin-bottom: 2%;" >
                <thead class="thead-dark text-center">
                  <tr>
                    
                    <th classe="col" colspan="2">Revenu  </th>
                  </tr>
                </thead>
                  <tbody>
                      <tr >
                          <td class="left table-secondary" style="margin-left: 0px; width: 20%;">
                              <strong>Bien</strong>
                          </td>
                          <td class="right">{{bien.adresse}}</td>
                      </tr>
                      <tr>
                        <td class="left table-secondary">
                            <strong>Propietaire</strong>
                        </td>
                        <td class="right">{{proprietaire.nom}} {{proprietaire.prenom}}</td>
                    </tr>
                      <tr>
                          <td class="left table-secondary">
                              <strong>Locataire</strong>
                          </td>
                          <td class="right">{{locataire.nom}} {{locataire.prenom}}</td>
                      </tr>
                      <tr>
                        <td class="left table-secondary">
                            <strong>Pour le mois :  </strong>
                        </td>
                        <td class="right">{{facture.mois_paiement}}</td>
                    </tr>
                    <tr>
                      <td class="left table-secondary">
                          <strong>Syndic</strong>
                      </td>
                      <td class="right">{{bien.syndic}} DH</td>
                  </tr>
                  <tr>
                    <td class="left table-secondary">
                        <strong>Loyer mensuel</strong>
                    </td>
                    <td class="right">{{bien.loyer_mensuel}} DH</td>
                </tr>
                     
                      <tr>
                          <td class="left table-secondary">
                              <strong>Montant total</strong>
                          </td>
                          <td class="right table-secondary">
                              <strong>{{facture.montant_total}} DH</strong>
                          </td>
                      </tr>
                      <tr>
                        <td class="left table-secondary">
                            <strong>Montant payé</strong>
                        </td>
                        <td class="right table-secondary text-green">
                            <strong>{{facture.montant_recu}} DH</strong>
                        </td>
                    </tr>
                  </tbody>
              </table>

              <table class="table table-clear" >
                <thead class="thead-dark text-center">
                  <tr>
                    
                    <th classe="col" colspan="2">Paiements  </th>
                  </tr>
                </thead>
                  <tbody>
                    <tr>
                      <td class="left table-secondary" style="margin-left: 0px; width: 20%;">
                          <strong>Date paiement  </strong>
                      </td>
                      <td class="right">
                        <!--<input type='date'  [(ngModel)]="facture.date_paiement | date:'yyyy-MM-dd' "/><br>-->
                        <input type="date" required  class="form-control"  aria-label="date_entree" id="date_entree" name="date_entree" [(ngModel)]="mode.date">
                      </td>
                  </tr>
                      <tr>
                          <td class="left table-secondary" style="margin-left: 0px; width: 20%;">
                              <strong>Montant  </strong>
                          </td>
                          <td class="right"><input  type="number" class=" text-center input-sm" step='0.05'  placeholder='0.00' aria-label="montant" id="montant" name="montant" [(ngModel)]="mode.montant" required  [disabled]="mode.mode_paiement == 'caution'"><i> Montant en dirhams</i></td>
                      </tr>
                      <tr>
                          <td class="left table-secondary">
                              <strong>Mode de paiement </strong>
                          </td>
                          <td class="right" >
                          
                            <div class="form-check" >
                              <input class="form-check-input" type="radio" checked name="options" id="exampleRadios1"    [(ngModel)]="mode.mode_paiement" value="espece" (click)="sum(facture.montant_total, facture.montant_recu, mode.montant)" checked >
                              <label class="form-check-label" >
                               Espece
                              </label>
                            </div>
                            <div *ngIf="mode.mode_paiement == 'espece' "></div>
                            <div class="form-check" >
                              <input class="form-check-input" type="radio" name="options" id="exampleRadios1"    [(ngModel)]="mode.mode_paiement" value="virement" (click)="sum(facture.montant_total, facture.montant_recu, mode.montant)"  required>
                              <label class="form-check-label"  >
                               Virement
                              </label>
                            </div>
                            <!---->
                            <div class="row" *ngIf="mode.mode_paiement == 'virement' ">
                              <div class="col">
                                <input type="text" class="text-center input-sm" placeholder="Numero de virement" [(ngModel)]="mode.numero_operation" style="margin-left: 20px; width: 250px;">
                              </div>
                              <div class="col">
                                <input type="text" class="text-center input-sm" placeholder="Nom de la banque" [(ngModel)]="mode.banque" style="margin-left: 20px;width: 250px;">
                              </div>
                            </div>
                            <!---->
                            <div class="form-check" >
                              <input class="form-check-input" type="radio" name="options" id="exampleRadios2" [(ngModel)]="mode.mode_paiement" value="cheque" (click)="sum(facture.montant_total, facture.montant_recu, mode.montant)">
                              <label class="form-check-label" >
                               Cheque
                              </label>
                            </div>
                            <!---->
                            <div class="row" *ngIf="mode.mode_paiement == 'cheque' ">
                              <div class="col">
                                <input type="text" class="text-center input-sm" placeholder="Numero du cheque" [(ngModel)]="mode.numero_operation">
                              </div>
                              <div class="col">
                                <input type="text" class="text-center input-sm" placeholder="Nom de la banque" [(ngModel)]="mode.banque">
                              </div>
                            </div>
                            <!---->
                            
                            <div class="form-check" *ngIf="location.caution == 1 " >
                              <input class="form-check-input" type="radio" name="options" id="exampleRadios2" [(ngModel)]="mode.mode_paiement" value="caution"  (click)="sum(facture.montant_total, facture.montant_recu, location.montant)" >
                              <label class="form-check-label" >
                               Caution
                              </label>
                            </div>
                            <div *ngIf="location.caution == 0 " class="text-danger"><i> Il ne y'a pas de caution pour cette location</i></div>

                            <!---->
                            <div class="row" *ngIf="mode.mode_paiement == 'caution' ">
                              <div class="col">
                                <tr  >
                                  <td class="left table-secondary text-center" style="margin-left: 0px; width: 20%;">
                                      <strong >{{location.montant}} Dh  </strong>
                                  </td>
                              </tr>

                                <p class="text-danger" style="font-weight: bolder;"> <i> Il rest <b>{{location.nbr_mois_caution - 1 }} </b>mois de caution en total.</i></p>
                                
                              </div>
                              
                            </div>
                            <!---->
                          
                          </td>
                      </tr>
                      <tr>
                        <td class="left table-secondary">
                            <strong>Reste a payer</strong>
                        </td>
                        <td class="text-danger right" > <b>{{total}} DH</b></td>

                    </tr>
                    <tr>
                      <td   colspan="2">
                        <button type="submit" class="btn btn-success float-right" style="width: 10%;" >  <strong>Valider</strong></button>
                        <button  class="btn btn-primary float-left" style="width: 10%;" routerLink="/paiement" >  <strong>Annuler</strong></button>

                      </td>

                  </tr>
                 
                 
                     
                      
                  </tbody>
              </table>

            
            
         
    </div>
</div>

 </form>




</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<app-footer></app-footer>



