
	  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" routerLink="">GESIMMO</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item "><a routerLink="" class="nav-link">Accueil</a></li>
            <li class="nav-item active"><a class="nav-link">Services</a></li>
            <li class="nav-item"><a routerLink="/contacts" class="nav-link">Contact</a></li>
          </ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->

    <section class="hero-wrap hero-wrap-2" style="background-image: url('assets/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
        <div class="col-md-9 pb-0 text-center">
          <p class="breadcrumbs"><span>
            <a routerLink="">Home <i class="fa fa-chevron-right"></i>
            </a></span> <span>Services <i class="fa fa-chevron-right"></i>
            </span></p>
            <h1 class="mb-3 bread">Services</h1>
        </div>
    </div>
  </div>
    </section>

    <!--section class="ftco-section ftco-no-pb ftco-no-pt bg-primary">
      <div class="container">
        <div class="row d-flex no-gutters">
          <div class="col-md-3 ">

            <div class="media block-6 services services-bg d-block text-center px-4 py-5">
            	<div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-business"></span></div>
              <div class="media-body py-md-4">
                <h3>Des milliers de confiance</h3>
               
              </div>
            </div>
          </div>
          <div class="col-md-3 ">
            <div class="media block-6 services services-bg services-darken d-block text-center px-4 py-5">
            	<div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-home"></span></div>
              <div class="media-body py-md-4">
                <h3>Large gamme de propriétés</h3>
              
              </div>
            </div>
          </div>
          <div class="col-md-3 ">
            <div class="media block-6 services services-bg services-lighten d-block text-center px-4 py-5">
            	<div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-stats"></span></div>
              <div class="media-body py-md-4">
                <h3>Financing Made Easy</h3>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 ">
            <div class="media block-6 services services-bg d-block text-center px-4 py-5">
            	<div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-quarantine"></span></div>
              <div class="media-body py-md-4">
                <h3>Le financement en toute simplicité</h3>
               
              </div>
            </div>
          </div>
        </div>
      </div>
    </section-->

    <section class="ftco-section services-section bg-darken">
    	<div class="container">
    		<div class="row justify-content-center">
          <div class="col-md-12 text-center heading-section heading-section-white ">
          	<!--span class="subheading">Flux de travail</span-->
            <h2 class="mb-3">COMMENT ÇA FONCTIONNE</h2>
          </div>
        </div>
    		<div class="row">
    			<div class="col-md-3 d-flex align-self-stretch ">
            <div class="media block-6 services services-2">
              <div class="media-body py-md-4 text-center">
              	<div class="icon mb-1 d-flex align-items-center justify-content-center"><span>01</span>
              	<img src="assets/images/blob.svg" alt="">
              	</div>
                <h3>Évaluer la propriété</h3>
                <!--p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p-->
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex align-self-stretch ">
            <div class="media block-6 services services-2">
              <div class="media-body py-md-4 text-center">
              	<div class="icon mb-1 d-flex align-items-center justify-content-center"><span>02</span>
              	<img src="assets/images/blob.svg" alt=""></div>
                <h3>Rencontrez votre agent et se mettre d'accord</h3>
                <!--p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p-->
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex align-self-stretch ">
            <div class="media block-6 services services-2">
              <div class="media-body py-md-4 text-center">
              	<div class="icon mb-1 d-flex align-items-center justify-content-center"><span>03</span>
              	<img src="assets/images/blob.svg" alt=""></div>
                <h3>Avoir votre propriété</h3><!--Close the Deal-->
                <!--p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p-->
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex align-self-stretch ">
            <div class="media block-6 services services-2">
              <div class="media-body py-md-4 text-center">
              	<div class="icon mb-1 d-flex align-items-center justify-content-center"><span>04</span>
              	<img src="assets/images/blob.svg" alt=""></div>
                <h3>Avoir votre compte GESIMMO</h3>
                <!--p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p-->
              </div>
            </div>
          </div>
    		</div>
    	</div>
    </section>

    <!--section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center">
          <div class="col-md-12 text-center heading-section  mb-5">
          	<span class="subheading">Services</span>
            <h2 class="mb-3">Special Services</h2>
          </div>
        </div>
    		<div class="row">
    			<div class="col-md-3 d-flex align-items-stretch ">
            <div class="media block-6 services d-block text-center px-3 pb-4">
            	<div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-home-repair"></span></div>
              <div class="media-body py-md-4">
                <h3>Development</h3>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex align-items-stretch ">
            <div class="media block-6 services d-block text-center px-3 pb-4">
            	<div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-sales"></span></div>
              <div class="media-body py-md-4">
                <h3>Sales Marketing</h3>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex align-items-stretch ">
            <div class="media block-6 services d-block text-center px-3 pb-4">
            	<div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-bank"></span></div>
              <div class="media-body py-md-4">
                <h3>Brokerage</h3>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex align-items-stretch ">
            <div class="media block-6 services d-block text-center px-3 pb-4">
            	<div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-team"></span></div>
              <div class="media-body py-md-4">
                <h3>Property Management</h3>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex align-items-stretch ">
            <div class="media block-6 services d-block text-center px-3 pb-4">
            	<div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-home-repair"></span></div>
              <div class="media-body py-md-4">
                <h3>Development</h3>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex align-items-stretch ">
            <div class="media block-6 services d-block text-center px-3 pb-4">
            	<div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-sales"></span></div>
              <div class="media-body py-md-4">
                <h3>Sales Marketing</h3>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex align-items-stretch ">
            <div class="media block-6 services d-block text-center px-3 pb-4">
            	<div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-bank"></span></div>
              <div class="media-body py-md-4">
                <h3>Brokerage</h3>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex align-items-stretch ">
            <div class="media block-6 services d-block text-center px-3 pb-4">
            	<div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-team"></span></div>
              <div class="media-body py-md-4">
                <h3>Property Management</h3>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
              </div>
            </div>
          </div>
    		</div>
    	</div>
    </section-->


    <footer class="ftco-footer ftco-section">
      <div class="container">

        <div class="row">
          <div class="col-md-12 text-center">

            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
      </div>
    </footer>


  <!-- loader -->
  <!--div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div-->


  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="js/google-map.js"></script>
  <script src="js/main.js"></script>

