<app-header></app-header>
<div class="row">
<div class="btn-group-vertical-lg mt-4 col-2 mx-5" style=" background-color: #5e72e4 !important;">
  <div class="p-2" style=" color: blanchedalmond; border-bottom: solid blanchedalmond;">
    <div class=" rounded-circle text-center"  >
      <i class="fas fa-chart-bar fa-2x"></i>
    </div>
    <div class="  text-center">
      <button class="btn "style=" color: blanchedalmond;">Bilan</button>
    </div>
  </div>
  <div class="p-2" style=" color: blanchedalmond;border-bottom: solid blanchedalmond;">
    <div class=" rounded-circle text-center"  >
      <i class="fas fa-home fa-2x"></i>
    </div>
    <div class="  text-center">
      <button class="btn "style=" color: blanchedalmond;" (click)="locations_users()">Mes location</button>
    </div>
  </div>

  <div class="p-2" style=" color: blanchedalmond;border-bottom: solid blanchedalmond;">
    <div class=" rounded-circle text-center"  >
      <i class="ni ni-pin-3 fa-2x"></i>
    </div>
    <div class="  text-center">
      <button class="btn "style=" color: blanchedalmond;"(click)="biens_users()"> Mes loyers</button>
    </div>
  </div>

  <div class="p-2" style=" color: blanchedalmond;border-bottom: solid blanchedalmond;">
    <div class=" rounded-circle text-center"  >
      <i class="fas fa-euro-sign fa-2x"></i>
    </div>
    <div class="  text-center">
      <button class="btn "style=" color: blanchedalmond;" (click)="paiemen()">Paiement</button>
    </div>
  </div>

  <div class="p-2" style=" color: blanchedalmond;">
    <div class=" rounded-circle text-center"  >
      <i class="fas fa-euro-sign fa-2x"></i>
    </div>
    <div class="  text-center">
      <button class="btn "style=" color: blanchedalmond;" (click)="proprietaire()">Mes propriétaire</button>
    </div>
  </div>
</div>

<!--table location-->
<div class="col-9 mt-4 my-2" *ngIf="location">
  <div class="table-responsive">
    <table class="table " >
    <thead class="thead-light">
      <tr >
        <th scope="col">Identifiant</th>
        <th scope="col">Date entrée</th>
        <th scope="col">Date de sortie</th>
        <th scope="col">Loyer mensuel</th>
      <!--  <th scope="col">Action</th>-->
      </tr>
    </thead>

    <tbody >
      <tr *ngFor="let location of locations">
        <td>{{location.identifiant}}</td>
        <td>{{location.date_entree}}</td>
        <td>{{location.date_sortie}}</td>
        <td>{{location.montant}}</td>

      </tr>
    </tbody>

    </table>
  </div>
</div>

<!--table bien-->
<div class="col-9 mt-4 my-2" *ngIf="bien">
  <div class="table-responsive">
    <table class="table " >
    <thead class="thead-light">
      <tr >
        <th scope="col">Identifiant</th>
        <th scope="col">Adresse</th>
        <th scope="col">Surface</th>
        <th scope="col">Type</th>
      <!--  <th scope="col">Action</th>-->
      </tr>
    </thead>

    <tbody >
      <tr *ngFor="let bien of biens">
        <td>{{bien.identifiant}}</td>
        <td>{{bien.adresse}}</td>
        <td>{{bien.surface}}</td>
        <td>{{bien.type}}</td>

      </tr>
    </tbody>

    </table>
  </div>
</div>

<!--table proprietaire-->
<div class="col-9 mt-4 my-2" *ngIf="prop">
  <div class="table-responsive">
    <table class="table " >
    <thead class="thead-light">
      <tr >
        <th scope="col">Nom</th>
        <th scope="col">Prénom</th>
        <th scope="col">Sociéte</th>
        <th scope="col">Adresse</th>
      <!--  <th scope="col">Action</th>-->
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let proprietaire of proprietaires">
        <td>{{proprietaire.nom}}</td>
        <td>{{proprietaire.prenom}}</td>
        <td>{{proprietaire.nom_societe}}</td>
        <td>{{proprietaire.adresse}}</td>

      </tr>
    </tbody>
    </table>
  </div>
</div>

<!--table paiement-->
<div class="col-9 mt-4 my-2" *ngIf="paiement">
  <div class="table-responsive">
    <table class="table " >
    <thead class="thead-light">
      <tr >
        <th scope="col">Location</th>
        <th scope="col">Mois de paiement</th>
        <th scope="col">Date de paiement</th>
        <th scope="col">Etat de paiement</th>
        <th scope="col">Montant Recu</th>
        <th scope="col">Montant Total</th>
      <!--  <th scope="col">Action</th>-->
      </tr>
    </thead>

    <tbody >
      <tr *ngFor="let paie of paiements">
        <td>{{paie.identifiant}}</td>
        <td>{{paie.mois_paiement}}</td>
        <td>{{paie.date_paiement}}</td>
        <td>{{paie.etat_paiement}}</td>
        <td>{{paie.montant_recu}}</td>
        <td>{{paie.montant_total}}</td>
      </tr>
    </tbody>

    </table>
  </div>
</div>

</div>


