<div class="row">
  <div class="col-sm-2">
    <app-menu></app-menu>
  </div>
  <div class="col-sm-10" >
    <app-header></app-header>
    <div class="header bg-primary pb-6" style="background-color: #fff !important;">

        </div>
        <div class="container">
<div class="p-3 ">
      <div class="container-fluid mt--6">
        <div class="row justify-content-center">
        <div class=" col ">
      <div class="card" >
        <div class="card-header bg-transparent">
          <h5 class="mb-0">Ajouter une nouvelle société</h5>
        </div>
        <form method="POST" (ngSubmit)="onSubmit()" enctype="multipart/form-data">

        <div class="card-body">
        <div class="text-center"><h5 class="title"><b>Identification du Société</b></h5></div>
          <div class="row row1">
              <div class="col">
                <label for="nom_societe" class="form-label"><b>Nom Société</b></label>
                <input type="text" class="form-control" placeholder="Nom Société" aria-label="nom_societe" id="nom_societe" name="nom_societe" [(ngModel)]="user.nom_societe">
            </div>
            <div class="col">
              <label for="nom" class="form-label"><b>Nom Responsable</b></label>
                    <input type="text" class="form-control" placeholder="Nom Responsable" aria-label="nom" id="nom" name="nom" [(ngModel)]="user.nom">
            </div>
            <div class="col">
              <label for="prenom" class="form-label"><b>Prenom Responsable</b></label>
              <input type="text" class="form-control" placeholder="Prenom Responsable" aria-label="prenom" id="prenom" name="prenom" [(ngModel)]="user.prenom">
            </div>
          </div>
          <br>
          <div class="row row1">
            <div class="col">
              <label for="Adresse" class="form-label"><b>Adresse</b></label>
                    <input type="text" class="form-control" placeholder="Adresse" aria-label="Adresse" id="Adresse" name="adresse" [(ngModel)]="user.adresse">
            </div>
            <div class="col">
              <label for="Telephone" class="form-label"><b>Telephone</b></label>
                    <input type="text" class="form-control" placeholder="Telephone" aria-label="Telephone" id="Telephone" name="telephone" [(ngModel)]="user.telephone">
            </div>
            <div class="col">
              <label for="CIN" class="form-label"><b>N° CIN</b></label>
                   <input type="text" class="form-control" placeholder="N° CIN" aria-label="CIN" id="CIN" name="CIN" [(ngModel)]="user.CIN">
           </div>
          </div>
          <br>
          <div class="row row1">
            <div class="col">
              <label for="Registre" class="form-label"><b>Registre de commerce</b></label>
                    <input type="text" class="form-control" placeholder="Registre de commerce" aria-label="Registre" id="Registre" name="RC" [(ngModel)]="user.RC">
            </div>
            <div class="col">
              <label for="Statut" class="form-label"><b>Statut Société</b></label>
                    <input type="text" class="form-control" placeholder="Statut Société" aria-label="Statut" id="Statut" name="statut_societe" [(ngModel)]="user.statut_societe">
            </div>
            <div class="col">
              <label for="Patente" class="form-label"><b>Patente</b></label>
              <input type="text" class="form-control" placeholder="Patente" aria-label="Patente" id="Patente" name="patente" [(ngModel)]="user.patente">
            </div>
          </div>
          <br>
          <div class="text-center"><h5 class="title"><b>Création du compte</b></h5></div>
          <div class="row row1">
            <div class="col">
              <input type="hidden" class="form-control" value="proprietaire"  aria-label="role" name="role" aria-label="role" [(ngModel)]="user.role">
                    <label for="Email" class="form-label"><b>Email</b></label>
                    <input type="Email" class="form-control" placeholder="Email" aria-label="Email" id="Email" name="email" [(ngModel)]="user.email">
            </div>
            <div class="col">
              <div class="mb-3">
                <label for="password" class="form-label"><b>Mot de passe</b></label>
                      <input class="form-control" type="password" id="password" placeholder="Mot de passe" name="password" [(ngModel)]="user.password">
              </div>
            </div>
            <div class="col">
              <div class="mb-3">
                <label for="Image" class="form-label"><b>Image</b></label>
                <input class="form-control" type="file"  id="Image" (change)="fileEvent($event)" name="image" [(ngModel)]="user.image" >
              </div>
            </div>
          </div>
          <div class="text-center"><h5 class="title"><b>Documents justificatifs</b></h5></div>
          <span (click)="addForm()" class="btn btn-secondary">+</span>
         <div class="row row1 " *ngFor="let obj of dataarray">
          <div class="col">
            <div class="mb-3">
              <label for="nom_doc" class="form-label"><b>Nom du document</b></label>
              <input class="form-control" type="text" id="nom_doc" name="nom" placeholder="Nom du document" [(ngModel)]="obj.nom">
            </div>
          </div>
          <div class="col">
            <div class="mb-3">
              <label for="doc" class="form-label"><b>Fichier joint (format accepté : PNG, JPG, JPEG, Word, PDF)</b></label>
              <input class="form-control" type="file" id="doc" name="doc" [(ngModel)]="obj.doc">
            </div>
          </div>
         </div>
         <div class="pull-right">
          <div class="buttons">
          <button type="button" class="btn btn-primary" style="background-color: #5e72e4 !important;">Annuler</button>
          <button type="submit" (click)="alert()" class="btn btn-success" style="background-color: #5e72e4 !important;">Enregistrer</button>
          </div>
        </div>
      </div>
</form>
      </div>


</div>
</div>
</div>

    <app-footer></app-footer>
    </div>
  </div>
</div>

</div>
