<app-header></app-header>
<div class="row">
<div class="btn-group-vertical-lg mt-4 col-2 mx-5" style=" background-color: #5e72e4 !important;">
  <div class="p-2" style=" color: blanchedalmond; border-bottom: solid blanchedalmond;">
    <div class=" rounded-circle text-center"  >
      <i class="fas fa-chart-bar fa-2x"></i>
    </div>
    <div class="  text-center">
      <button class="btn "style=" color: blanchedalmond;">Bilan</button>
    </div>
  </div>
  <div class="p-2" style=" color: blanchedalmond;border-bottom: solid blanchedalmond;">
    <div class=" rounded-circle text-center"  >
      <i class="fas fa-home fa-2x"></i>
    </div>
    <div class="  text-center">
      <button class="btn "style=" color: blanchedalmond;" (click)="bien_user()">Mes Biens</button>
    </div>
  </div>

  <div class="p-2" style=" color: blanchedalmond;border-bottom: solid blanchedalmond;">
    <div class=" rounded-circle text-center"  >
      <i class="ni ni-pin-3 fa-2x"></i>
    </div>
    <div class="  text-center">
      <button class="btn "style=" color: blanchedalmond;" (click)="locataire()">Mes locataires</button>
    </div>
  </div>

  <div class="p-2" style=" color: blanchedalmond;border-bottom: solid blanchedalmond;">
    <div class=" rounded-circle text-center"  >
      <i class="fas fa-euro-sign fa-2x"></i>
    </div>
    <div class="  text-center">
      <button class="btn "style=" color: blanchedalmond;" (click)="paiement_user()">Paiement</button>
    </div>
  </div>

  <div class="p-2" style=" color: blanchedalmond;">
    <div class=" rounded-circle text-center"  >
      <i class="fas fa-euro-sign fa-2x"></i>
    </div>
    <div class="  text-center">
      <button class="btn "style=" color: blanchedalmond;" (click)="charge_user()">Charge</button>
    </div>
  </div>
</div>

<!--table bien-->
<div class="col-9 mt-4 my-2" *ngIf="bien">
  <div class="table-responsive">
    <table class="table " >
    <thead class="thead-light">
      <tr >
        <th scope="col">Adresse</th>
        <th scope="col">Surface</th>
        <th scope="col">Statut</th>
        <th scope="col">Loyer mensuel</th>
      <!--  <th scope="col">Action</th>-->
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let bien of biens">
        <td>{{bien.adresse}}</td>
        <td>{{bien.surface}}</td>
        <td>{{bien.statut}}</td>
        <td>{{bien.loyer_mensuel}}</td>
   <!--     <td><a style="background-color: #5e72e4 !important;"  class="btn btn-primary"  >Détails</a>-->
      </tr>
    </tbody>
    </table>
  </div>
</div>

<!--table locataire-->
<div class="col-9 mt-4 my-2" *ngIf="location">
  <div class="table-responsive">
    <table class="table " >
    <thead class="thead-light">
      <tr >
        <th scope="col">Nom</th>
        <th scope="col">Prénom</th>
        <th scope="col">Sociéte</th>
        <th scope="col">Adresse</th>
      <!--  <th scope="col">Action</th>-->
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let locataire of locataires">
        <td>{{locataire.nom}}</td>
        <td>{{locataire.prenom}}</td>
        <td>{{locataire.nom_societe}}</td>
        <td>{{locataire.adresse}}</td>
   <!--     <td><a style="background-color: #5e72e4 !important;"  class="btn btn-primary"  >Détails</a>-->
      </tr>
    </tbody>
    </table>
  </div>
</div>


<!--table charge-->
<div class="col-9 mt-4 my-2" *ngIf="charge">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Numéro</th>
        <th scope="col">Description</th>
        <th scope="col">Montant</th>
        <th scope="col">Date de paiement</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let charge of charges">
        <td>{{charge.id}}</td>
        <td>{{charge.description}}</td>
        <td>{{charge.montant_total}}</td>
        <td>{{charge.date_paiement}}</td>
   <!--     <td><a style="background-color: #5e72e4 !important;"  class="btn btn-primary"  >Détails</a>-->
      </tr>
    </tbody>
  </table>
</div>

<!--table paiement-->
<div class="col-9 mt-4 my-2" *ngIf="paiement">
  <div class="table-responsive">
    <table class="table " >
    <thead class="thead-light">
      <tr >
        <th scope="col">Location</th>
        <th scope="col">Mois de paiement</th>
        <th scope="col">Date de paiement</th>
        <th scope="col">Etat de paiement</th>
        <th scope="col">Montant Recu</th>
        <th scope="col">Montant Total</th>
      <!--  <th scope="col">Action</th>-->
      </tr>
    </thead>

    <tbody >
      <tr *ngFor="let paie of paiements">
        <td>{{paie.identifiant}}</td>
        <td>{{paie.mois_paiement}}</td>
        <td>{{paie.date_paiement}}</td>
        <td>{{paie.etat_paiement}}</td>
        <td>{{paie.montant_recu}}</td>
        <td>{{paie.montant_total}}</td>
      </tr>
    </tbody>

    </table>
  </div>
</div>
</div>

